@charset "utf-8";

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
        url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
        url('../fonts/opensans-italic-webfont.woff') format('woff'),
        url('../fonts/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-bold-webfont.woff') format('woff'),
        url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 35px;
    line-height: 48px; 
}

h2 {
    font-size: 28px;
    line-height: 48px; 
    background: url('../images/about_images/rectangle2.png') no-repeat 0 22px;
}

h3 {
    text-transform: uppercase;
    font-family: 'open_sansextrabold', 'Times New Roman', sans;
}

h4 {
    font: normal 17px 'montserratbold', 'Times New Roman', sans;
    color: #60606e;
    text-transform: uppercase;
    
}

.columns, .columns1 {
    overflow: hidden;
}


/*Header*/
header {
    background: url('../images/about_images/header_about.png') no-repeat center 0;
    font-size: 16px;
}

header, header a {
    color: #60606e;
}

header a{
    text-transform: uppercase;
    font: normal 18px/30px 'montserratbold', 'Times New Roman', sans;
}

header .menu  {
    padding-top: 36px;
    padding-bottom: 192px;
    overflow: hidden;
}

header .title {
    text-align: center;
    text-transform: uppercase;
    font: normal 15px/46px 'montserratbold', 'Times New Roman', sans;
    padding-bottom: 148px;
}

/*About*/
.about .columns {
    line-height: 30px;
    padding-top: 139px;
    padding-bottom: 100px;
}

.about .col1, .about .col2 {
    width: 553px;
    padding-left: 1px;
}

.about .col1 {
    float: left;
    margin-right: 32px;
}

.about .col2 {
    float: right;
}

.about .columns h3 {
    margin-top: 5px;
    margin-bottom: 12px;
}

/*Some benefits*/
.benefits .title {
    padding-top: 46px;
    padding-left: 1px;
    padding-bottom: 82px;
    margin: 0 auto;
    text-align: center;
    width: 750px;
}

.benefits .title h2 {
    font-size: 29px;
    display: inline-block;
    margin-bottom: 8px;
}

.benefits .columns {
    line-height: 30px;
}

.benefits .columns > div {
    float: left;
    width: 360px;
}

.benefits .columns .col2, .benefits .columns .col3 {
    margin-left: 30px;
}


.benefits h4 {
    display: inline-block;
    padding: 0 16px;
    height: 50px;
    vertical-align: middle;
}


.benefits img {
    padding-top: 14px;
}

.benefits p {
    margin-top:  -10px;
}

.benefits .block1, .benefits .block3, .benefits .block5 {
    margin-bottom: 34px;
}

/*The dream team*/
.team .title {
    width: 750px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 0 95px 2px;
}

.team .title h2 {
    display: inline-block;
    font-size: 29px;
    margin-bottom: 10px;
}


.team .columns > div {
    float: left;
    width: 264px;
    margin-left: 28px;
}

.team .columns > div:first-child {
    margin-left: 0;
}

.team .columns > div img {
    max-width: 264px;
    margin-bottom: 24px;
}

.team .line {
    background-color: #efeff0;
    padding: 45px 30px 51px;
    margin-bottom: 150px;
}

.team .line > p {
    display: inline-block;
    width: 878px;
    font: normal 18px/48px 'open_sansitalic', 'Times New Roman', sans;
}

.team .button {
    display: inline-block;
    color: #fff;
    font: normal 14px/30px 'montserratbold', 'Times New Roman', sans;
    text-transform: uppercase;
    background-color: #7beec7;
    margin-left: 34px;
    margin-top: 3px;
    padding: 12px 36px 8px 37px;
}

.team .button:hover {
    color: #7beec7;
    background-color: #fff;
    padding: 9px 33px 5px 34px;
    border: 3px solid #7beec7;
}

/*Comments*/
.comments .columns {
    padding-bottom: 40px;
}

.comments .columns > div {
    width: 553px;
    float: left;
}

.comments .columns > .col1 {
    text-align: center;
    padding-left: 1px;
    line-height: 30px;
    margin-bottom: 100px;
    margin-right: 30px;
}

.comments .columns > .col1 img {
    margin-bottom: 8px;
}

.comments .columns > .col1 .button {
    display: inline-block;
    color: #fff;
    font: normal 14px/24px 'montserratbold', 'Times New Roman', sans;
    text-transform: uppercase;
    background-color: #7beec7;
    margin-top: 19px;
    margin-bottom: 15px;
    padding: 3px 10px;
}

.comments .columns > .col1 .button:hover {
    padding: 0px 7px;
    border: 3px solid #7beec7;
    color: #7beec7;
    background-color: #fff;
}

.comments ul li, .comments ul li a {
    display: inline-block;
}

.comments ul li a {
    padding: 2px 8px 3px;;
    background-color: #60606e;
    margin-left: 5px;
}

.comments ul li:first-child a {
    margin-left: 0px;
}

.comments ul li a:hover {
    background-color: #7beec7;
}


.comments .columns > .col2  .columns1 > div {
    float: left;
    width: 165px;
}

.comments .columns > .col2 .columns1  .col2 {
    margin-left: 30px;
}

.comments .columns > .col2 .columns1 .col3 {
    float: right;
}

.comments .columns1 a {
    display: inline-block;
}

.comments .columns1 a img {
    margin-bottom: 22px;
}

.comments .columns1 a:hover img {
    background-color: #7beec7;
}


/*Subscription*/
.subscription  {
    background-color: #7beec7;
}

.subscription .columns {
    padding: 40px 0 51px;
}

.subscription .col1, .subscription .col2 {
    width: 555px;
}

.subscription .col1 {
    float: left;
    color: #fff;
}

.subscription .col2 {
    float: right;
}

.subscription .col1 a {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'montserratbold', 'Times New Roman', sans;
    color: #7beec7;
    padding: 13px 30px;
    margin-top: 14px;
    margin-left: 1px;
    background-color: #fff; 
    box-sizing: border-box;
}

.subscription .col1 a:hover {
    color: #fff;
    background-color: #7beec7;
    border: 3px solid #fff;
    padding: 10px 27px;
}

.subscription .subscription_field {
    margin-top: 10px;
    background-color: #fff;
    padding: 15px 20px 18px;
    font-size: 16px;
    color: #999;
}
.subscription .subscription_field h3, .subscription .subscription_field p {
    padding-left: 5px;
}

.subscription .subscription_field h3{
    font: normal 24px/35px 'montserratbold', 'Times New Roman', sans;
    margin-bottom: 2px;
    color: #60606e;
}

/*Input*/
input.email {
    width: 335px;
    color: #60606e;
    margin-top: 27px;
    padding: 11px 19px 7px;
    font: normal 12px/30px 'montserratbold', 'Times New Roman', sans;
    border: 1px solid #cdcdcd;
}

input.email:focus {
    border-color: #60606e;
}

input.email::placeholder {
    color: #cdcdcd;
    text-transform: uppercase;
}

input.submit {
    margin-left: -4px;
    width: 135px;
    background-color: #7beec7;
    color: #fff;
    font: normal 14px/30px 'montserratbold', 'Times New Roman', sans;
    margin-top: 27px;
    padding:  12px 5px 8px;
    border: none;
}

input.submit:hover {
    color: #60606e;
    padding:  11px 4px 7px;
    border: 1px solid #60606e;
}

