@charset "utf-8";

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
        url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-bold-webfont.woff') format('woff'),
        url('../fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    text-transform: uppercase;
    font-family: 'montserratbold', 'Times New Roman', sans;
}

h1 {
    font-size: 35px;
    line-height: 48px; 
}

h2 {
    font-size: 28px;
    line-height: 48px; 
    background: url('../images/services_images/rectangle3.jpg') no-repeat 0 22px;
}

h3 {
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'open_sansextrabold', 'Times New Roman', sans;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.title h2 {
    display: inline-block;
    margin-bottom: 8px;
}

.columns, .blocks {
    overflow: hidden;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: table;
}
/*Header*/
header {
    background: url('../images/about_images/header_about.png') no-repeat center 0;
    font-size: 16px;
}

header, header a {
    color: #60606e;
}

header a{
    text-transform: uppercase;
    font: normal 18px/30px 'montserratbold', 'Times New Roman', sans;
}

header .menu  {
    padding-top: 36px;
    padding-bottom: 192px;
    overflow: hidden;
}

header .title {
    text-align: center;
    text-transform: uppercase;
    font: normal 15px/46px 'montserratbold', 'Times New Roman', sans;
    padding-bottom: 148px;
}

/*Employment*/
.employment .title {
    padding-top: 140px;
    width: 750px;
    padding-bottom: 87px;
}

.employment .columns > div {
    width: 555px;
}

.employment .columns .col1 {
    float: left;
    line-height: 30px;
}

.employment .columns .col2 {
    float: right;
    padding-top: 9px; 
}

.employment .list {
    overflow: hidden;
    padding-top: 31px;
    padding-bottom: 227px;
}

.employment .list > div {
    width: 210px;
    float: left;
}

.employment .list .list1 {
    margin-right: 83px;
}

.employment .list ul li {
    padding: 0 20px;
    background: url("../images/services_images/icon.png") no-repeat 0 10px; 
} 

.employment .blocks {
    padding-bottom: 133px;
}

.employment .blocks > div {
    width: 262px;
    text-align: center;
    float: left;
    margin-left: 30px;
    padding-left: 1px;
    line-height: 30px;
}

.employment .blocks > div:first-child {
    margin-left: 0;
}

.employment .blocks > div:last-child {
    margin-left: 28px;
}

.employment .blocks > div h3 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.employment .blocks > div img {
    display: inline-block;
    padding: 0 8px;
    background: url("../images/services_images/rectangle4.jpg") no-repeat 0 30px; 
}

/*Plans*/
.plans .title {
    width: 750px;
    padding-bottom: 96px;
}

.plans .blocks {
    padding-bottom: 150px;
    overflow: visible;
}

.plans .blocks h2 {
    background: none;
}

.plans .blocks .pricing_plan {
    width: 360px;
    float: left;
    margin-left: 30px;
    border-top: 5px solid #7beec7;
}

.plans .blocks .pricing_plan:first-child {
    margin-left: 0;
}

.plans .blocks .pricing_plan > div {
    display: inline-block;
    padding: 19px 30px 40px;
}

.plans .blocks .pricing_plan:hover {
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}

.plans .blocks .price, .plans .blocks .button {
    display: inline-block;
    color: #fff;
    background-color: #7beec7;
    text-transform: uppercase;
    font-family: 'montserratbold', 'Times New Roman', sans;
}

.plans .blocks .price {
    display: inline-block;
    margin-top: 3px;
    padding: 3px 20px;
    margin-bottom: 44px;
}

.plans .blocks ul li {
    padding: 0 20px;
    background: url("../images/services_images/icon.png") no-repeat 0 7px;
    margin-bottom: 12px;
}

.plans .blocks .button {
    margin-top: 34px;
    padding: 15px 18px 12px;
}

.plans .blocks .button:hover {
    color: #7beec7;
    background-color: #fff;
    border: 3px solid #7beec7;
    padding: 12px 15px 9px;
}

/*Subscription*/
.subscription  {
    background-color: #7beec7;
}

.subscription .columns {
    overflow: hidden;
    padding: 40px 0 51px;
}

.subscription .col1, .subscription .col2 {
    width: 555px;
}

.subscription .col1 {
    float: left;
    color: #fff;
}

.subscription .col2 {
    float: right;
}

.subscription .col1 a {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'montserratbold', 'Times New Roman', sans;
    color: #7beec7;
    padding: 13px 30px;
    margin-top: 14px;
    margin-left: 1px;
    background-color: #fff; 
    box-sizing: border-box;
}

.subscription .col1 a:hover {
    color: #fff;
    background-color: #7beec7;
    border: 3px solid #fff;
    padding: 10px 27px;
}

.subscription .subscription_field {
    margin-top: 10px;
    background-color: #fff;
    padding: 15px 20px 18px;
    font-size: 16px;
    color: #999;
}
.subscription .subscription_field h3, .subscription .subscription_field p {
    padding-left: 5px;
}

.subscription .subscription_field h3{
    font: normal 24px/35px 'montserratbold', 'Times New Roman', sans;
    margin-bottom: 2px;
    color: #60606e;
}

/*Input*/
input.email {
    width: 335px;
    color: #60606e;
    margin-top: 27px;
    padding: 11px 19px 7px;
    font: normal 12px/30px 'montserratbold', 'Times New Roman', sans;
    border: 1px solid #cdcdcd;
}

input.email:focus {
    border-color: #60606e;
}

input.email::placeholder {
    color: #cdcdcd;
    text-transform: uppercase;
}

input.submit {
    margin-left: -4px;
    width: 135px;
    background-color: #7beec7;
    color: #fff;
    font: normal 14px/30px 'montserratbold', 'Times New Roman', sans;
    margin-top: 27px;
    padding:  12px 5px 8px;
    border: none;
}

input.submit:hover {
    color: #60606e;
    padding:  11px 4px 7px;
    border: 1px solid #60606e;
}

